h1 {
    text-align: center;
}

body .wrapper {
    z-index: 2;
    visibility: hidden;
    opacity: 0.0;
    position: relative;
}
/* modals */
.card-gap {
    margin-top: 1.75rem
}

.modal-trigger {
    cursor: pointer
}

a.icon > strong {
    margin-left: .25rem
}

.modal-card-body div.content {
    margin: 1.75rem 0
}

.section {
    padding: 2.15rem 1.5rem
}

.carousel-cell {
    width: 100%
}

/*== SKILL BAR ==*/
.skill {
    margin: 0;
  }
  .skill .box {
    text-align: center;
    border: 1px solid transparent;
    padding-bottom: 30px;
  }
  .skill.top .box {
    padding-top: 50px;
  }
  .skill.bottom .box {
    padding-top: 30px;
    padding-bottom: 50px;
  }
  @media (max-width: 768px) {
    .skill .box {
      padding-bottom: 30px !important;
      padding-top: 30px !important;
      border: 0 !important;
    }
  }
  .chart {
    position: relative;
    display: inline-block;
    width: 110px;
    height: 110px;
    margin-top: 40px;
    margin-bottom: 20px;
    text-align: center;
  }
  .chart canvas {
    position: absolute;
    top: 0;
    left: 0;
  }
  .chart .percent {
    color: #000000;
    display: inline-block;
    line-height: 110px;
    z-index: 2;
  }
  .chart .percent:after {
    content: '%';
    margin-left: 0.1em;
    font-size: .8em;
  }
  .title-border {
    text-align: center;
    padding: 30px;
    border-top: 1px solid #ebebeb;
    border-bottom: 1px solid #ebebeb;
  }
  /* space between skill row */
  .list-progress li {
    padding: 10px 0;
  }
  .list-progress li .title {
    margin-bottom: 10px;
  }
  .list-progress li .progress-line {
    background: #fafafa;
    border: 1px solid #ebebeb;
    padding: 5px;
  }
  .list-progress li .progress-line .line {
    /* thickness of skill bar */
    height: 15px;
    background: black;
    display: block;
    width: 0;
  }